.board {
  display: grid;
  justify-content: stretch;
  align-items: stretch;
  gap: 16px;
  width: 100%;
  max-width: 500px;
  height: 500px;
  border: 1px solid gray;
  user-select: none;

  & > * {
    grid-area: 1 / 1 / 1 / 1;
    align-self: center;
    justify-self: center;
  }
}

.dropZone {
  width: 44vw;
  max-width: 200px;
  height: 200px;
  border-radius: 10px;

  &:global(.hide) {
    display: none;
  }

  &:global(.dragOver) {
    border: 1px solid red;

    &:global(.highlight) {
      border-color: #00e000;
    }
  }
}

.dropZone_initial {
  width: 66vw;
  max-width: 300px;
}
