.board {
  display: grid;
  justify-content: stretch;
  align-items: stretch;
  gap: 16px;
  width: 500px;
  height: 500px;
  border: 1px solid gray;
  user-select: none;

  & > * {
    grid-area: 1 / 1 / 1 / 1;
    align-self: center;
    justify-self: center;
  }
}

.dropZone {
  width: 200px;
  height: 200px;
  border: 1px solid gray;

  &:global(.hide) {
    display: none;
  }

  &:global(.highlight) {
    border-color: #646cff;
  }
}
